#img2{
    width: 300px;
    height: 300px;
     border-radius: 50%;
    object-fit: cover;
    border: 10px solid black;
}
ul{
    justify-content:space-around;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;

}
#one{
    font-size: 110px;
    color: black;
    margin: 1px;
    line-height:1.1;
    text-align: left;
    margin-left: 10px;
}
#two{
    font-size: 70px;
    color: blueviolet;
    line-height:2.1;
}
.vertical-line{
    width: 5px;
    height: 1000px;
    background-color:aquamarine;
    margin-left: 30%;
}
#arasu{
    list-style-type: none;
    font-size: 50px;
    color:green;
    font-weight: bolder;
}