.imge{
    margin-left: 180px;
    width: 500px;
    height: 500px;
}
    #img2{
    border-radius: 360%;
    border: 10px solid black;
}
.abc{
    display: flex;
    margin-top: 7%;
}
ul{
    justify-content:space-around;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    
}
#one{
    display: inline;
    color: black;
}
#two{
    display: inline;
    color: violet;
    font-size: 100px;
}
#three{
    padding: 0px;
    margin: 0px;
    font-size: 100px;
}
.text{
    margin-left: 30px;
    width: 600px;
    height: 600px;
}
#arasu{
    list-style-type: none;
    font-size: 50px;
    color: green;
    font-weight: bolder;
}
#four{
    font-size: large;
}
.btn a{
    text-decoration: none;
}